.auth-wrapper .lavalite-bg .lavalite-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff !important;
}
.wrapper .page-wrap .app-sidebar .sidebar-content{
    background-color:#61e85c;
}